h5 {
  font-size: 14px;
}

h6,
p {
  font-size: 12px;
}

small {
  font-size: 10px;
}

.text-black {
  color: black;
}

.sidebar {
  width: 18%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #0cac90;
}

.main {
  margin-left: 18%;
}

.bg-gray {
  background-color: #eaeaea;
}

.bg-button {
  background-color: #76cbb7;
}

.bg-card {
  background-color: #f7f6f3;
}

.border-white {
  border: 2px solid white;
}

.tag-red {
  background-color: #ffe5f0;
  color: #ef2a93 !important;
}
.tag-yellow {
  background-color: #fff3d2;
  color: #eeb600;
}
.tag-blue {
  background-color: #e3efff;
  color: #1975d0;
}

.initial-tag {
  background-color: #def9f3;
}

.search-input {
  float: left;
  width: 80%;
  background: transparent;
}

.search-input::placeholder {
  color: white;
}

.search-input-button {
  float: left;
  width: 10%;
  background: transparent;
  cursor: pointer;
}

.search-input:focus {
  outline: none;
}

.profile-img {
  object-fit: cover;
}

.modal form label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.modal form input {
  border: 1px solid #76cbb7;
}
